:root {
    /* pallet */
    --clr-2: #1e1e1e;
    --clr1: #292929;
    --clr2: #606060;
    --clr3: #58c93a;
    --clr4: #818181;
    --clr5: #a6a6a6;
    --clr6: #c2c2c2;
    --clr7: #e1e0e0;
    --clr8: #ffffff;
    --clr9: #f8f8f8;
    --clr10: #e5e5e5;
    --clr11: #516fad;

    /* BP */
    --l: 980px;
    --m: 800px;
    --s: 650px;
}

* {
    box-sizing: border-box;
}

/* TYPOGRAPHY */
@font-face {
    font-family: Eurofurenceregular;
    src: url(/fonts/eurofurence/eurofurence.ttf);
}

@font-face {
    font-family: Lato;
    src: url(/fonts/Lato/Lato-Regular.ttf);
}

/* BASICS   */

html {
    color: var(--clr2);
    font-family: Lato, sans-serif;
    line-height: 1.25;
}

body {
    margin: 0;
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1em;
    line-height: 1.3;
}

h2 {
    font-size: 2.2em;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.07;
    letter-spacing: 0.03em;

}

h3 {
    font-size: 1.125em;
    letter-spacing: 0.05em;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--clr4);
}

p {
    letter-spacing: 0.027em;
    margin-top: 0;
}

button {
    border-radius: 50px;
    border: 2px solid var(--clr6);
    font-weight: 700;
}


img {
    width: 100%;
}

a {
    font-weight: 700;
    text-decoration: none;
    color: var(--clr8);
}

a:hover>* {
    color: var(--clr3);
}

header {
    background-color: var(--clr1);
    color: var(--clr8);
}

.logo {
    font-family: Eurofurenceregular, sans-serif;
    font-size: 2.5rem;
    letter-spacing: -0.02em;
}

.logo::after {
    content: attr(data-end);
    color: var(--clr3);
}


/* HELPERS */

/* flex helpers */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.flex.direction-column {
    flex-direction: column;
}

.flex.grow-1 {
    flex-grow: 1;
}


/* list helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* LAYOUT */

.main-layout>*:not(.full) {
    max-width: var(--s);
    margin-left: auto;
    margin-right: auto;
}

.main-content>* {
    margin-bottom: 5rem;
}

/* .main-content >* {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
} */

.content-preview .content-text>*:not(:last-child) {
    flex: 1;
}

/* header  */
.main-header {

    box-shadow: inset 0 -6px 0 var(--clr-2);
}

.main-header,
.main-nav li {
    min-height: 8.125rem;
}

.main-header>* {
    align-items: center;
}


.logo,
.main-nav ul li a {
    color: var(--clr8);
}

.main-nav ul li {
    cursor: pointer;
    justify-content: center;
    border-left: 1px solid var(--clr-2);
    font-size: 1rem;
    width: 8.25em;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
}

.main-nav ul li:hover {
    box-shadow: inset 0 -6px 0 var(--clr3);
}

.main-nav ul li:hover>* {
    color: var(--clr3);
}

.main-nav ul>*:last-child {
    border-right: 1px solid var(--clr-2);
}

.main-nav ul li:active {
    box-shadow: none;
}

.main-nav ul li:active>* {
    color: var(--clr5)
}

.btn-menu {
    display: inline-block;
    border-radius: 0px;
}

/* SCREEN */

.main-screen {
    position: fixed;
    inset: 0;
    background-color: hsla(0, 0%, 11%, 0.6);
    cursor: pointer;
    opacity: 0;
    transition: opacity 1s;
    pointer-events: none;
}

body.menu-open .main-screen {
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
}


/* MAIN  */

main.main-content {
    padding-top: 2em;
    border: 1px solid var(--clr7);
    width: 100%;
}

.main-content article {
    flex-direction: column;
    margin-bottom: 2em;
}

.main-content .content-text {
    padding-inline-start: 10px;
}


.btn-read:hover::after {
    content: attr(data-end);
}

.btn-read {
    width: 186px;
    height: 40px;
    border: 2px solid var(--clr7);
    background-color: var(--clr8);
    color: var(--clr6);
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    border-radius: 20px;
}


.btn-read:hover {
    width: 210px;
    cursor: pointer;
    border-color: var(--clr3);
    color: var(--clr3);
}

/* PAGING */

section.paging {
    height: 75px;
    border-left: 1px solid var(--clr7);
    border-right: 1px solid var(--clr7);
}

.paging>*:first-child {
    padding-inline-start: 20px;
}

.paging>*:last-child {
    padding-inline-end: 20px;
}

.paging div {
    height: 100%;
}

.paging h3 {
    margin: 0;
}


/* FOOTER */

footer.main-footer {
    min-height: 315px;
    background-color: var(--clr9);
    box-shadow: inset 0 1px 0 var(--clr7);
    text-align: center;
    justify-content: center;
}

.main-footer .logo {
    color: var(--clr1);
    margin-bottom: 0.8em;
}

.main-footer p {
    font-size: 0.812em;
    color: var(--clr5);
    letter-spacing: 0.03em;
    margin-bottom: 2.92em;

}

.main-footer li img {
    width: 40px;
    height: 40px;
    padding: 12px;
    background-color: var(--clr10);
    margin-inline-end: 20px;

}

.main-footer ul>*:last-child>a img {
    margin-inline-end: 0;
}

/* Style all font awesome icons */
.fa {
    margin-left: 0.7em;
    font-size: 1.2em;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    background-color: var(--clr10);
    /* display: flex; */
    padding-inline-start: 10px;
}

/* Add a hover effect */
.fa:hover {
    background-color: var(--clr11);
    color: white;
}

/* FOR MOBILE ONLY  */

@media (max-width: 740px) {

    header .header-content .main-nav {
        position: fixed;
        top: 0;
        right: 0;
        background-color: rgb(143 139 139 / 90%);
        height: 100vh;
        border-inline-start: 6px solid #b5838d;
        min-width: 200px;
        align-items: flex-start;
        transform: translateX(100%);
        align-items: flex-start;
        transition: transform .6s, box-shadow .6s;
    }

    header .header-content .main-nav ul {
        flex-direction: column;
        width: 100%;
    }

    body.menu-open .main-nav {
        transform: translateX(0);
        box-shadow: -9px 0px 14px rgb(0 0 0 / 30%);
    }


    header .header-content .main-nav ul li {
        border-bottom: 1px solid #ccc;
        border-right: none;
        border-left: none;
        width: 100%;
        min-height: 0;
        box-shadow: none;

    }

    .main-nav ul a {
        display: block;
        padding: 18px;
    }

    .main-nav ul a:hover {
        box-shadow: inset 0 -6px 0 var(--clr3);
    }
}

.main-nav ul a:focus {
    box-shadow: inset 0 -6px 0 var(--clr3);
    color: var(--clr3);
}

/* Medium */
@media (min-width: 740px) {
    .main-layout>*:not(.full) {
        max-width: var(--m);
    }

    .btn-menu {
        display: none;
    }
    h2,
    p {
        margin-bottom: 0.4em;
    }

    .main-content article {
        flex-direction: column;
        margin-bottom: 3em;
    }

    .main-content .content-text {
        padding-inline-start: 10px;
    }

    main.main-content {
        padding-top: 5em;
    }

    .main-layout>*:not(.full) {
        max-width: var(--m);
    }

    h2 {
        font-size: 1.4em;

    }

    .main-content article {
        flex-direction: row;
    }

    .main-content article>*:nth-child(odd) {
        padding-inline-end: 10px;
        flex-basis: 50%;
    }

    .main-content article>*:nth-child(even) {
        padding-inline-start: 10px;
        padding-inline-end: 10px;
        flex-basis: 50%;
    }
}

/* LARGE */
@media (min-width: 1010px) {

    .main-layout>*:not(.full) {
        max-width: var(--l);
    }

    .main-content article {

        margin-bottom: 5em;
    }

    h2 {
        font-size: 1.75em;

    }

    .main-content article>*:nth-child(odd) {
        padding-inline-end: 20px;

    }

    .main-content article>*:nth-child(even) {
        padding-inline-start: 20px;
        padding-inline-end: 25px;
    }
}